<h1 class="page-title img-line third-bg">User</h1>
<div class="show">
  <div class="info">
    <h2 class="card-title"><%= @user.name %></h2>
    <img src=<%= @user.avatar %> class="full-avatar">
    <p>Email: <%= @user.email %></p>
  </div>
</div>
